@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #banner span {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
  }

  .introduction img {
    display: none;
  }

  #boostrap-override .introduction {
    width: 40px;
  }

  .tablet-border-1 {
    border-right: 1px solid #4870e0;
  }

  .tablet-border-2 {
    border-left: 1px solid #4870e0;
  }

  .hidden {
    display: initial;
  }

  /* ẨN FORM EMAIL */
  #boostrap-override .mb-3 {
    display: none;
  }

  #job-info-details {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
  }

  #boostrap-override .view-more {
    display: none;
  }

  .skill {
    grid-auto-rows: max-content;
  }

  .certificates {
    display: initial;
    padding: 15px;
  }

  #java {
    border-left: 2px solid #d6c08d;
  }

  #java img {
    border-left: none;
    margin: 0;
    padding: 0;
  }

  .certificates img {
    width: 100%;
    max-width: 100%; /* Hình ảnh sẽ không tràn ra khỏi phần tử cha */
    height: auto;
  }

  .project-details {
    display: flex;
    padding: 15px 20px;
    width: 100%; /* Chiếm toàn bộ chiều rộng của container cha */
    box-sizing: border-box; /* Box sizing để không tăng kích thước với border */
  }

  .project-name {
    padding: 20px 20px;
    margin: 0 0;
  }

  .project-details-1 {
    border-bottom: 2px solid #a59e9e;
    border-left: 2px solid #a59e9e;
    border-right: 2px solid #a59e9e;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 25% 75%;
  }

  #project-name {
    padding: 5px;
  }

  .project-structure img {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của div cha */
  }
}
