* {
  box-sizing: border-box;
  padding: 0 0;
}

body {
  background-color: blue;
}

.container {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  color: blue;
}

.goals {
  background-color: white;
  padding: 15px 15px;
}

.goal-infor {
  display: flex;
  padding-bottom: 10px;
}

.flag {
  width: 300px;
  text-align: center;
  transform: translateY(35%);
}

.goals-title {
  font-weight: 500;
}

.team {
  background-color: white;
  padding: 15px 15px;
  grid-column: 2/2;
  grid-row: 1/1;
}

.member-infor {
  display: flex;
}

.member-icon {
  width: 20%;
  text-align: center;
  transform: translateY(25%);
}

.member-title {
  font-weight: 500;
}

.scopes {
  background-color: white;
  padding: 15px 15px;
}

.scopes-title {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 15px;
}

.scopes-infor {
  display: flex;
  column-gap: 10px;
}

.scopes-description {
  margin-bottom: 10px;
}

.primary {
  background-color: white;
  padding: 15px 15px;
}

.primary-infor {
  display: flex;
  margin-bottom: 30px;
}

.primary-icon {
  width: 20%;
  text-align: center;
  margin-right: 10px;
}

.timeline {
  background-color: white;
  grid-column: 3/3;
  grid-row: 1 / span 2;
  padding: 15px 15px;
}

.timeline-title {
  font-weight: 500;
}

.timeline-infor {
  display: flex;
  margin: 15px;
  column-gap: 10px;
}

.ordinal-number {
  text-align: center;
  background-color: #8266ae;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  transform: translateY(30%);
}

.number {
  color: white;
  font-size: 20px;
  margin-top: 9px;
  font-weight: 400;
}

.timeline-details {
  padding-bottom: 10px;
  border-bottom: 1px dashed #734aa3;
}
