@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .goals {
    margin-bottom: 20px;
  }

  .goal-infor {
    display: block;
    padding: 10px 10px;
  }

  .flag {
    width: 100%;
  }

  .team {
    margin-bottom: 20px;
  }

  .member-infor {
    display: block;
  }

  .member-icon {
    width: 100%;
  }

  .scopes {
    margin-bottom: 20px;
  }

  .scopes-infor {
    display: block;
  }

  .primary {
    margin-bottom: 20px;
  }

  .primary-infor {
    display: block;
  }

  .primary-icon {
    width: 100%;
    margin-bottom: 10px;
  }

  .timeline-infor {
    display: block;
  }
}
